<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.backend.mapper.DesktopPetMapper">
  <resultMap id="BaseResultMap" type="com.backend.domain.entity.DesktopPet">
    <!--@mbg.generated-->
    <!--@Table tb_desktop_pet-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="energy" jdbcType="TINYINT" property="energy" />
    <result column="mood" jdbcType="TINYINT" property="mood" />
    <result column="intimacy" jdbcType="TINYINT" property="intimacy" />
    <result column="exp" jdbcType="TINYINT" property="exp" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="last_login_date" jdbcType="DATE" property="lastLoginDate" />
    <result column="last_energy_reset_date" jdbcType="DATE" property="lastEnergyResetDate" />
    <result column="last_mood_reset_date" jdbcType="DATE" property="lastMoodResetDate" />
    <result column="consecutive_days" jdbcType="INTEGER" property="consecutiveDays" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, create_time, update_time, user_id, nickname, energy, mood, intimacy, `exp`, `level`, last_login_date, last_energy_reset_date, last_mood_reset_date, consecutive_days
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from tb_desktop_pet
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from tb_desktop_pet
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.backend.domain.entity.DesktopPet" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into tb_desktop_pet (create_time, update_time, user_id, 
      nickname, energy, mood, 
      intimacy, `exp`, `level`, last_login_date, last_energy_reset_date, last_mood_reset_date, consecutive_days
      )
    values (#{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{userId,jdbcType=BIGINT}, 
      #{nickname,jdbcType=VARCHAR}, #{energy,jdbcType=TINYINT}, #{mood,jdbcType=TINYINT}, 
      #{intimacy,jdbcType=TINYINT}, #{exp,jdbcType=TINYINT}, #{level,jdbcType=INTEGER}, 
      #{lastLoginDate,jdbcType=DATE}, #{lastEnergyResetDate,jdbcType=DATE}, #{lastMoodResetDate,jdbcType=DATE}, #{consecutiveDays,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.backend.domain.entity.DesktopPet" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into tb_desktop_pet
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="nickname != null">
        nickname,
      </if>
      <if test="energy != null">
        energy,
      </if>
      <if test="mood != null">
        mood,
      </if>
      <if test="intimacy != null">
        intimacy,
      </if>
      <if test="exp != null">
        `exp`,
      </if>
      <if test="level != null">
        `level`,
      </if>
      <if test="lastLoginDate != null">
        last_login_date,
      </if>
      <if test="lastEnergyResetDate != null">
        last_energy_reset_date,
      </if>
      <if test="lastMoodResetDate != null">
        last_mood_reset_date,
      </if>
      <if test="consecutiveDays != null">
        consecutive_days,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="nickname != null">
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="energy != null">
        #{energy,jdbcType=TINYINT},
      </if>
      <if test="mood != null">
        #{mood,jdbcType=TINYINT},
      </if>
      <if test="intimacy != null">
        #{intimacy,jdbcType=TINYINT},
      </if>
      <if test="exp != null">
        #{exp,jdbcType=TINYINT},
      </if>
      <if test="level != null">
        #{level,jdbcType=INTEGER},
      </if>
      <if test="lastLoginDate != null">
        #{lastLoginDate,jdbcType=DATE},
      </if>
      <if test="lastEnergyResetDate != null">
        #{lastEnergyResetDate,jdbcType=DATE},
      </if>
      <if test="lastMoodResetDate != null">
        #{lastMoodResetDate,jdbcType=DATE},
      </if>
      <if test="consecutiveDays != null">
        #{consecutiveDays,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.backend.domain.entity.DesktopPet">
    <!--@mbg.generated-->
    update tb_desktop_pet
    <set>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="nickname != null">
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="energy != null">
        energy = #{energy,jdbcType=TINYINT},
      </if>
      <if test="mood != null">
        mood = #{mood,jdbcType=TINYINT},
      </if>
      <if test="intimacy != null">
        intimacy = #{intimacy,jdbcType=TINYINT},
      </if>
      <if test="exp != null">
        `exp` = #{exp,jdbcType=TINYINT},
      </if>
      <if test="level != null">
        `level` = #{level,jdbcType=INTEGER},
      </if>
      <if test="lastLoginDate != null">
        last_login_date = #{lastLoginDate,jdbcType=DATE},
      </if>
      <if test="lastEnergyResetDate != null">
        last_energy_reset_date = #{lastEnergyResetDate,jdbcType=DATE},
      </if>
      <if test="lastMoodResetDate != null">
        last_mood_reset_date = #{lastMoodResetDate,jdbcType=DATE},
      </if>
      <if test="consecutiveDays != null">
        consecutive_days = #{consecutiveDays,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.backend.domain.entity.DesktopPet">
    <!--@mbg.generated-->
    update tb_desktop_pet
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      user_id = #{userId,jdbcType=BIGINT},
      nickname = #{nickname,jdbcType=VARCHAR},
      energy = #{energy,jdbcType=TINYINT},
      mood = #{mood,jdbcType=TINYINT},
      intimacy = #{intimacy,jdbcType=TINYINT},
      `exp` = #{exp,jdbcType=TINYINT},
      `level` = #{level,jdbcType=INTEGER},
      last_login_date = #{lastLoginDate,jdbcType=DATE},
      last_energy_reset_date = #{lastEnergyResetDate,jdbcType=DATE},
      last_mood_reset_date = #{lastMoodResetDate,jdbcType=DATE},
      consecutive_days = #{consecutiveDays,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateBatch" parameterType="java.util.List">
    <!--@mbg.generated-->
    update tb_desktop_pet
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="create_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.createTime,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="update_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.updateTime,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="user_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.userId,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="nickname = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.nickname,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="energy = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.energy,jdbcType=TINYINT}
        </foreach>
      </trim>
      <trim prefix="mood = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.mood,jdbcType=TINYINT}
        </foreach>
      </trim>
      <trim prefix="intimacy = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.intimacy,jdbcType=TINYINT}
        </foreach>
      </trim>
      <trim prefix="`exp` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.exp,jdbcType=TINYINT}
        </foreach>
      </trim>
      <trim prefix="`level` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.level,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="last_login_date = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.lastLoginDate,jdbcType=DATE}
        </foreach>
      </trim>
      <trim prefix="last_energy_reset_date = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.lastEnergyResetDate,jdbcType=DATE}
        </foreach>
      </trim>
      <trim prefix="last_mood_reset_date = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.lastMoodResetDate,jdbcType=DATE}
        </foreach>
      </trim>
      <trim prefix="consecutive_days = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.consecutiveDays,jdbcType=INTEGER}
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=BIGINT}
    </foreach>
  </update>
  <update id="updateBatchSelective" parameterType="java.util.List">
    <!--@mbg.generated-->
    update tb_desktop_pet
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="create_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.createTime != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.createTime,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
      <trim prefix="update_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.updateTime != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.updateTime,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
      <trim prefix="user_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.userId != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.userId,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="nickname = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.nickname != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.nickname,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="energy = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.energy != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.energy,jdbcType=TINYINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="mood = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.mood != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.mood,jdbcType=TINYINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="intimacy = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.intimacy != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.intimacy,jdbcType=TINYINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="`exp` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.exp != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.exp,jdbcType=TINYINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="`level` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.level != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.level,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="last_login_date = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.lastLoginDate != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.lastLoginDate,jdbcType=DATE}
          </if>
        </foreach>
      </trim>
      <trim prefix="last_energy_reset_date = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.lastEnergyResetDate != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.lastEnergyResetDate,jdbcType=DATE}
          </if>
        </foreach>
      </trim>
      <trim prefix="last_mood_reset_date = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.lastMoodResetDate != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.lastMoodResetDate,jdbcType=DATE}
          </if>
        </foreach>
      </trim>
      <trim prefix="consecutive_days = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.consecutiveDays != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.consecutiveDays,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=BIGINT}
    </foreach>
  </update>
  <insert id="batchInsert" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into tb_desktop_pet
    (create_time, update_time, user_id, nickname, energy, mood, intimacy, `exp`, `level`, last_login_date, last_energy_reset_date, last_mood_reset_date, consecutive_days
      )
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.createTime,jdbcType=TIMESTAMP}, #{item.updateTime,jdbcType=TIMESTAMP}, #{item.userId,jdbcType=BIGINT}, 
        #{item.nickname,jdbcType=VARCHAR}, #{item.energy,jdbcType=TINYINT}, #{item.mood,jdbcType=TINYINT}, 
        #{item.intimacy,jdbcType=TINYINT}, #{item.exp,jdbcType=TINYINT}, #{item.level,jdbcType=INTEGER}, 
        #{item.lastLoginDate,jdbcType=DATE}, #{item.lastEnergyResetDate,jdbcType=DATE}, #{item.lastMoodResetDate,jdbcType=DATE}, #{item.consecutiveDays,jdbcType=INTEGER}
        )
    </foreach>
  </insert>
  <insert id="batchInsertOrUpdate" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into tb_desktop_pet
    (create_time, update_time, user_id, nickname, energy, mood, intimacy, `exp`, `level`, last_login_date, last_energy_reset_date, last_mood_reset_date, consecutive_days
      )
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.createTime,jdbcType=TIMESTAMP}, #{item.updateTime,jdbcType=TIMESTAMP}, #{item.userId,jdbcType=BIGINT}, 
        #{item.nickname,jdbcType=VARCHAR}, #{item.energy,jdbcType=TINYINT}, #{item.mood,jdbcType=TINYINT}, 
        #{item.intimacy,jdbcType=TINYINT}, #{item.exp,jdbcType=TINYINT}, #{item.level,jdbcType=INTEGER}, 
        #{item.lastLoginDate,jdbcType=DATE}, #{item.lastEnergyResetDate,jdbcType=DATE}, #{item.lastMoodResetDate,jdbcType=DATE}, #{item.consecutiveDays,jdbcType=INTEGER}
        )
    </foreach>
    on duplicate key update 
    create_time=values(create_time),
    update_time=values(update_time),
    user_id=values(user_id),
    nickname=values(nickname),
    energy=values(energy),
    mood=values(mood),
    intimacy=values(intimacy),
    `exp`=values(`exp`),
    `level`=values(`level`),
    last_login_date=values(last_login_date),
    last_energy_reset_date=values(last_energy_reset_date),
    last_mood_reset_date=values(last_mood_reset_date),
    consecutive_days=values(consecutive_days)
  </insert>
  <delete id="deleteByPrimaryKeyIn">
    <!--@mbg.generated-->
    delete from tb_desktop_pet where id in 
    <foreach close=")" collection="array" item="id" open="(" separator=", ">
      #{id,jdbcType=BIGINT}
    </foreach>
  </delete>
  <update id="updateBatchUseMultiQuery" parameterType="java.util.List">
    <!--@mbg.generated-->
    <foreach collection="list" item="item" separator=";">
      update tb_desktop_pet
      <set>
        <if test="item.createTime != null">
          create_time = #{item.createTime,jdbcType=TIMESTAMP},
        </if>
        <if test="item.updateTime != null">
          update_time = #{item.updateTime,jdbcType=TIMESTAMP},
        </if>
        <if test="item.userId != null">
          user_id = #{item.userId,jdbcType=BIGINT},
        </if>
        <if test="item.nickname != null">
          nickname = #{item.nickname,jdbcType=VARCHAR},
        </if>
        <if test="item.energy != null">
          energy = #{item.energy,jdbcType=TINYINT},
        </if>
        <if test="item.mood != null">
          mood = #{item.mood,jdbcType=TINYINT},
        </if>
        <if test="item.intimacy != null">
          intimacy = #{item.intimacy,jdbcType=TINYINT},
        </if>
        <if test="item.exp != null">
          `exp` = #{item.exp,jdbcType=TINYINT},
        </if>
        <if test="item.level != null">
          `level` = #{item.level,jdbcType=INTEGER},
        </if>
      </set>
      where id = #{item.id,jdbcType=BIGINT}
    </foreach>
  </update>
  <insert id="batchInsertSelectiveUseDefaultForNull" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into tb_desktop_pet
    (create_time, update_time, user_id, nickname, energy, mood, intimacy, `exp`, `level`, last_login_date, last_energy_reset_date, last_mood_reset_date, consecutive_days
      )
    values
    <foreach collection="list" item="item" separator=",">
      (
      <choose>
        <when test="item.createTime != null">
          #{item.createTime,jdbcType=TIMESTAMP},
        </when>
        <!--@ignoreSql-->
        <otherwise>
          DEFAULT,
        </otherwise>
      </choose>
      <choose>
        <when test="item.updateTime != null">
          #{item.updateTime,jdbcType=TIMESTAMP},
        </when>
        <!--@ignoreSql-->
        <otherwise>
          DEFAULT,
        </otherwise>
      </choose>
      <choose>
        <when test="item.userId != null">
          #{item.userId,jdbcType=BIGINT},
        </when>
        <!--@ignoreSql-->
        <otherwise>
          DEFAULT,
        </otherwise>
      </choose>
      <choose>
        <when test="item.nickname != null">
          #{item.nickname,jdbcType=VARCHAR},
        </when>
        <!--@ignoreSql-->
        <otherwise>
          DEFAULT,
        </otherwise>
      </choose>
      <choose>
        <when test="item.energy != null">
          #{item.energy,jdbcType=TINYINT},
        </when>
        <!--@ignoreSql-->
        <otherwise>
          DEFAULT,
        </otherwise>
      </choose>
      <choose>
        <when test="item.mood != null">
          #{item.mood,jdbcType=TINYINT},
        </when>
        <!--@ignoreSql-->
        <otherwise>
          DEFAULT,
        </otherwise>
      </choose>
      <choose>
        <when test="item.intimacy != null">
          #{item.intimacy,jdbcType=TINYINT},
        </when>
        <!--@ignoreSql-->
        <otherwise>
          DEFAULT,
        </otherwise>
      </choose>
      <choose>
        <when test="item.exp != null">
          #{item.exp,jdbcType=TINYINT},
        </when>
        <!--@ignoreSql-->
        <otherwise>
          DEFAULT,
        </otherwise>
      </choose>
      <choose>
        <when test="item.level != null">
          #{item.level,jdbcType=INTEGER}
        </when>
        <!--@ignoreSql-->
        <otherwise>
          DEFAULT
        </otherwise>
      </choose>
      <choose>
        <when test="item.lastLoginDate != null">
          #{item.lastLoginDate,jdbcType=DATE}
        </when>
        <!--@ignoreSql-->
        <otherwise>
          DEFAULT
        </otherwise>
      </choose>
      <choose>
        <when test="item.lastEnergyResetDate != null">
          #{item.lastEnergyResetDate,jdbcType=DATE}
        </when>
        <!--@ignoreSql-->
        <otherwise>
          DEFAULT
        </otherwise>
      </choose>
      <choose>
        <when test="item.lastMoodResetDate != null">
          #{item.lastMoodResetDate,jdbcType=DATE}
        </when>
        <!--@ignoreSql-->
        <otherwise>
          DEFAULT
        </otherwise>
      </choose>
      <choose>
        <when test="item.consecutiveDays != null">
          #{item.consecutiveDays,jdbcType=INTEGER}
        </when>
        <!--@ignoreSql-->
        <otherwise>
          DEFAULT
        </otherwise>
      </choose>
      )
    </foreach>
  </insert>
  <insert id="insertOrUpdate" keyColumn="id" keyProperty="id" parameterType="com.backend.domain.entity.DesktopPet" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into tb_desktop_pet
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      create_time,
      update_time,
      user_id,
      nickname,
      energy,
      mood,
      intimacy,
      `exp`,
      `level`,
      last_login_date,
      last_energy_reset_date,
      last_mood_reset_date,
      consecutive_days,
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      #{createTime,jdbcType=TIMESTAMP},
      #{updateTime,jdbcType=TIMESTAMP},
      #{userId,jdbcType=BIGINT},
      #{nickname,jdbcType=VARCHAR},
      #{energy,jdbcType=TINYINT},
      #{mood,jdbcType=TINYINT},
      #{intimacy,jdbcType=TINYINT},
      #{exp,jdbcType=TINYINT},
      #{level,jdbcType=INTEGER},
      #{lastLoginDate,jdbcType=DATE},
      #{lastEnergyResetDate,jdbcType=DATE},
      #{lastMoodResetDate,jdbcType=DATE},
      #{consecutiveDays,jdbcType=INTEGER},
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="id != null">
        id = #{id,jdbcType=BIGINT},
      </if>
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      user_id = #{userId,jdbcType=BIGINT},
      nickname = #{nickname,jdbcType=VARCHAR},
      energy = #{energy,jdbcType=TINYINT},
      mood = #{mood,jdbcType=TINYINT},
      intimacy = #{intimacy,jdbcType=TINYINT},
      `exp` = #{exp,jdbcType=TINYINT},
      `level` = #{level,jdbcType=INTEGER},
      last_login_date = #{lastLoginDate,jdbcType=DATE},
      last_energy_reset_date = #{lastEnergyResetDate,jdbcType=DATE},
      last_mood_reset_date = #{lastMoodResetDate,jdbcType=DATE},
      consecutive_days = #{consecutiveDays,jdbcType=INTEGER},
    </trim>
  </insert>
  <insert id="insertOrUpdateSelective" keyColumn="id" keyProperty="id" parameterType="com.backend.domain.entity.DesktopPet" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into tb_desktop_pet
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="nickname != null">
        nickname,
      </if>
      <if test="energy != null">
        energy,
      </if>
      <if test="mood != null">
        mood,
      </if>
      <if test="intimacy != null">
        intimacy,
      </if>
      <if test="exp != null">
        `exp`,
      </if>
      <if test="level != null">
        `level`,
      </if>
      <if test="lastLoginDate != null">
        last_login_date,
      </if>
      <if test="lastEnergyResetDate != null">
        last_energy_reset_date,
      </if>
      <if test="lastMoodResetDate != null">
        last_mood_reset_date,
      </if>
      <if test="consecutiveDays != null">
        consecutive_days,
      </if>
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="nickname != null">
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="energy != null">
        #{energy,jdbcType=TINYINT},
      </if>
      <if test="mood != null">
        #{mood,jdbcType=TINYINT},
      </if>
      <if test="intimacy != null">
        #{intimacy,jdbcType=TINYINT},
      </if>
      <if test="exp != null">
        #{exp,jdbcType=TINYINT},
      </if>
      <if test="level != null">
        #{level,jdbcType=INTEGER},
      </if>
      <if test="lastLoginDate != null">
        #{lastLoginDate,jdbcType=DATE},
      </if>
      <if test="lastEnergyResetDate != null">
        #{lastEnergyResetDate,jdbcType=DATE},
      </if>
      <if test="lastMoodResetDate != null">
        #{lastMoodResetDate,jdbcType=DATE},
      </if>
      <if test="consecutiveDays != null">
        #{consecutiveDays,jdbcType=INTEGER},
      </if>
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="id != null">
        id = #{id,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="nickname != null">
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="energy != null">
        energy = #{energy,jdbcType=TINYINT},
      </if>
      <if test="mood != null">
        mood = #{mood,jdbcType=TINYINT},
      </if>
      <if test="intimacy != null">
        intimacy = #{intimacy,jdbcType=TINYINT},
      </if>
      <if test="exp != null">
        `exp` = #{exp,jdbcType=TINYINT},
      </if>
      <if test="level != null">
        `level` = #{level,jdbcType=INTEGER},
      </if>
      <if test="lastLoginDate != null">
        last_login_date = #{lastLoginDate,jdbcType=DATE},
      </if>
      <if test="lastEnergyResetDate != null">
        last_energy_reset_date = #{lastEnergyResetDate,jdbcType=DATE},
      </if>
      <if test="lastMoodResetDate != null">
        last_mood_reset_date = #{lastMoodResetDate,jdbcType=DATE},
      </if>
      <if test="consecutiveDays != null">
        consecutive_days = #{consecutiveDays,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

  <select id="selectWithCondition" resultMap="BaseResultMap" parameterType="com.backend.domain.query.DesktopPetQuery">
    select
    <include refid="Base_Column_List"/>
    from tb_desktop_pet
    <where>
      <if test="userId != null">
        and user_id = #{userId,jdbcType=BIGINT}
      </if>
      <if test="nickname != null and nickname != ''">
        and nickname like concat('%', #{nickname}, '%')
      </if>
      <if test="level != null">
        and level between #{level.start} and #{level.end}
      </if>
      <if test="createTime != null">
        and create_time between #{createTime.start} and #{createTime.end}
      </if>
      <if test="updateTime != null">
        and update_time between #{updateTime.start} and #{updateTime.end}
      </if>
    </where>
    order by create_time desc
  </select>

  <select id="countByCondition" resultType="java.lang.Integer" parameterType="com.backend.domain.query.DesktopPetQuery">
    select count(*)
    from tb_desktop_pet
    <where>
      <if test="userId != null">
        and user_id = #{userId,jdbcType=BIGINT}
      </if>
      <if test="nickname != null and nickname != ''">
        and nickname like concat('%', #{nickname}, '%')
      </if>
      <if test="level != null">
        and level between #{level.start} and #{level.end}
      </if>
      <if test="createTime != null">
        and create_time between #{createTime.start} and #{createTime.end}
      </if>
      <if test="updateTime != null">
        and update_time between #{updateTime.start} and #{updateTime.end}
      </if>
    </where>
  </select>

  <select id="getPetLevelDistribution" resultType="java.util.Map">
    select
      floor((COALESCE(level, 1) - 1) / 10) * 10 + 1  as levelRangeStart,
      floor((COALESCE(level, 1) - 1) / 10) * 10 + 10 as levelRangeEnd,
      count(*) as count
    from tb_desktop_pet
    group by levelRangeStart, levelRangeEnd
    order by levelRangeStart
  </select>

  <select id="getPetEnergyDistribution" resultType="java.util.Map">
    select
      COALESCE(energy, 0) as energy,
      count(*) as count
    from tb_desktop_pet
    group by COALESCE(energy, 0)
    order by energy
  </select>

  <select id="getPetMoodDistribution" resultType="java.util.Map">
    select
      COALESCE(mood, 0) as mood,
      count(*) as count
    from tb_desktop_pet
    group by COALESCE(mood, 0)
    order by mood
  </select>

  <select id="getPetIntimacyDistribution" resultType="java.util.Map">
    select
      COALESCE(intimacy, 0) as intimacy,
      count(*) as count
    from tb_desktop_pet
    group by COALESCE(intimacy, 0)
    order by intimacy
  </select>

  <select id="getTopLevelPets" resultType="java.util.Map">
    select
      p.id as petId,
      p.nickname as petNickname,
      COALESCE(p.level, 0) as petLevel,
      u.nickname as userNickname
    from tb_desktop_pet p
    left join tb_user u on p.user_id = u.id
    order by COALESCE(p.level, 0) desc
    limit #{limit}
  </select>
</mapper>