<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.backend.mapper.TodoMapper">
  <resultMap id="BaseResultMap" type="com.backend.domain.entity.Todo">
    <!--@mbg.generated-->
    <!--@Table tb_todo-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
    <result column="category_id" jdbcType="BIGINT" property="categoryId" />
    <result column="priority" jdbcType="TINYINT" property="priority" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="finish_time" jdbcType="TIMESTAMP" property="finishTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="is_top" jdbcType="TINYINT" property="isTop" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, create_time, update_time, user_id, title, content, category_id, priority, start_time, 
    end_time, `status`, finish_time, is_delete, is_top
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from tb_todo
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from tb_todo
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.backend.domain.entity.Todo" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into tb_todo (create_time, update_time, user_id, 
      title, content, category_id, 
      priority, start_time, end_time, 
      `status`, finish_time, is_delete, 
      is_top)
    values (#{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{userId,jdbcType=BIGINT}, 
      #{title,jdbcType=VARCHAR}, #{content,jdbcType=LONGVARCHAR}, #{categoryId,jdbcType=BIGINT}, 
      #{priority,jdbcType=TINYINT}, #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=TINYINT}, #{finishTime,jdbcType=TIMESTAMP}, #{isDelete,jdbcType=TINYINT}, 
      #{isTop,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.backend.domain.entity.Todo" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into tb_todo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="categoryId != null">
        category_id,
      </if>
      <if test="priority != null">
        priority,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="finishTime != null">
        finish_time,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="isTop != null">
        is_top,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="categoryId != null">
        #{categoryId,jdbcType=BIGINT},
      </if>
      <if test="priority != null">
        #{priority,jdbcType=TINYINT},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="finishTime != null">
        #{finishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=TINYINT},
      </if>
      <if test="isTop != null">
        #{isTop,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.backend.domain.entity.Todo">
    <!--@mbg.generated-->
    update tb_todo
    <set>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="categoryId != null">
        category_id = #{categoryId,jdbcType=BIGINT},
      </if>
      <if test="priority != null">
        priority = #{priority,jdbcType=TINYINT},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=TINYINT},
      </if>
      <if test="finishTime != null">
        finish_time = #{finishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=TINYINT},
      </if>
      <if test="isTop != null">
        is_top = #{isTop,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.backend.domain.entity.Todo">
    <!--@mbg.generated-->
    update tb_todo
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      user_id = #{userId,jdbcType=BIGINT},
      title = #{title,jdbcType=VARCHAR},
      content = #{content,jdbcType=LONGVARCHAR},
      category_id = #{categoryId,jdbcType=BIGINT},
      priority = #{priority,jdbcType=TINYINT},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      `status` = #{status,jdbcType=TINYINT},
      finish_time = #{finishTime,jdbcType=TIMESTAMP},
      is_delete = #{isDelete,jdbcType=TINYINT},
      is_top = #{isTop,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateBatch" parameterType="java.util.List">
    <!--@mbg.generated-->
    update tb_todo
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="create_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.createTime,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="update_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.updateTime,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="user_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.userId,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="title = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.title,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="content = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.content,jdbcType=LONGVARCHAR}
        </foreach>
      </trim>
      <trim prefix="category_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.categoryId,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="priority = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.priority,jdbcType=TINYINT}
        </foreach>
      </trim>
      <trim prefix="start_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.startTime,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="end_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.endTime,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="`status` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.status,jdbcType=TINYINT}
        </foreach>
      </trim>
      <trim prefix="finish_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.finishTime,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="is_delete = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.isDelete,jdbcType=TINYINT}
        </foreach>
      </trim>
      <trim prefix="is_top = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.isTop,jdbcType=TINYINT}
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=BIGINT}
    </foreach>
  </update>
  <update id="updateBatchSelective" parameterType="java.util.List">
    <!--@mbg.generated-->
    update tb_todo
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="create_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.createTime != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.createTime,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
      <trim prefix="update_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.updateTime != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.updateTime,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
      <trim prefix="user_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.userId != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.userId,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="title = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.title != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.title,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="content = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.content != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.content,jdbcType=LONGVARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="category_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.categoryId != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.categoryId,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="priority = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.priority != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.priority,jdbcType=TINYINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="start_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.startTime != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.startTime,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
      <trim prefix="end_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.endTime != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.endTime,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
      <trim prefix="`status` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.status != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.status,jdbcType=TINYINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="finish_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.finishTime != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.finishTime,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
      <trim prefix="is_delete = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.isDelete != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.isDelete,jdbcType=TINYINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="is_top = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.isTop != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.isTop,jdbcType=TINYINT}
          </if>
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=BIGINT}
    </foreach>
  </update>
  <insert id="batchInsert" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into tb_todo
    (create_time, update_time, user_id, title, content, category_id, priority, start_time, 
      end_time, `status`, finish_time, is_delete, is_top)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.createTime,jdbcType=TIMESTAMP}, #{item.updateTime,jdbcType=TIMESTAMP}, #{item.userId,jdbcType=BIGINT}, 
        #{item.title,jdbcType=VARCHAR}, #{item.content,jdbcType=LONGVARCHAR}, #{item.categoryId,jdbcType=BIGINT}, 
        #{item.priority,jdbcType=TINYINT}, #{item.startTime,jdbcType=TIMESTAMP}, #{item.endTime,jdbcType=TIMESTAMP}, 
        #{item.status,jdbcType=TINYINT}, #{item.finishTime,jdbcType=TIMESTAMP}, #{item.isDelete,jdbcType=TINYINT}, 
        #{item.isTop,jdbcType=TINYINT})
    </foreach>
  </insert>
  <insert id="batchInsertOrUpdate" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into tb_todo
    (create_time, update_time, user_id, title, content, category_id, priority, start_time, 
      end_time, `status`, finish_time, is_delete, is_top)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.createTime,jdbcType=TIMESTAMP}, #{item.updateTime,jdbcType=TIMESTAMP}, #{item.userId,jdbcType=BIGINT}, 
        #{item.title,jdbcType=VARCHAR}, #{item.content,jdbcType=LONGVARCHAR}, #{item.categoryId,jdbcType=BIGINT}, 
        #{item.priority,jdbcType=TINYINT}, #{item.startTime,jdbcType=TIMESTAMP}, #{item.endTime,jdbcType=TIMESTAMP}, 
        #{item.status,jdbcType=TINYINT}, #{item.finishTime,jdbcType=TIMESTAMP}, #{item.isDelete,jdbcType=TINYINT}, 
        #{item.isTop,jdbcType=TINYINT})
    </foreach>
    on duplicate key update 
    create_time=values(create_time),
    update_time=values(update_time),
    user_id=values(user_id),
    title=values(title),
    content=values(content),
    category_id=values(category_id),
    priority=values(priority),
    start_time=values(start_time),
    end_time=values(end_time),
    `status`=values(`status`),
    finish_time=values(finish_time),
    is_delete=values(is_delete),
    is_top=values(is_top)
  </insert>
  <delete id="deleteByPrimaryKeyIn">
    <!--@mbg.generated-->
    delete from tb_todo where id in 
    <foreach close=")" collection="array" item="id" open="(" separator=", ">
      #{id,jdbcType=BIGINT}
    </foreach>
  </delete>
  <update id="updateBatchUseMultiQuery" parameterType="java.util.List">
    <!--@mbg.generated-->
    <foreach collection="list" item="item" separator=";">
      update tb_todo
      <set>
        <if test="item.createTime != null">
          create_time = #{item.createTime,jdbcType=TIMESTAMP},
        </if>
        <if test="item.updateTime != null">
          update_time = #{item.updateTime,jdbcType=TIMESTAMP},
        </if>
        <if test="item.userId != null">
          user_id = #{item.userId,jdbcType=BIGINT},
        </if>
        <if test="item.title != null">
          title = #{item.title,jdbcType=VARCHAR},
        </if>
        <if test="item.content != null">
          content = #{item.content,jdbcType=LONGVARCHAR},
        </if>
        <if test="item.categoryId != null">
          category_id = #{item.categoryId,jdbcType=BIGINT},
        </if>
        <if test="item.priority != null">
          priority = #{item.priority,jdbcType=TINYINT},
        </if>
        <if test="item.startTime != null">
          start_time = #{item.startTime,jdbcType=TIMESTAMP},
        </if>
        <if test="item.endTime != null">
          end_time = #{item.endTime,jdbcType=TIMESTAMP},
        </if>
        <if test="item.status != null">
          `status` = #{item.status,jdbcType=TINYINT},
        </if>
        <if test="item.finishTime != null">
          finish_time = #{item.finishTime,jdbcType=TIMESTAMP},
        </if>
        <if test="item.isDelete != null">
          is_delete = #{item.isDelete,jdbcType=TINYINT},
        </if>
        <if test="item.isTop != null">
          is_top = #{item.isTop,jdbcType=TINYINT},
        </if>
      </set>
      where id = #{item.id,jdbcType=BIGINT}
    </foreach>
  </update>
  <insert id="batchInsertSelectiveUseDefaultForNull" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into tb_todo
    (create_time, update_time, user_id, title, content, category_id, priority, start_time, 
      end_time, `status`, finish_time, is_delete, is_top)
    values
    <foreach collection="list" item="item" separator=",">
      (
      <choose>
        <when test="item.createTime != null">
          #{item.createTime,jdbcType=TIMESTAMP},
        </when>
        <!--@ignoreSql-->
        <otherwise>
          DEFAULT,
        </otherwise>
      </choose>
      <choose>
        <when test="item.updateTime != null">
          #{item.updateTime,jdbcType=TIMESTAMP},
        </when>
        <!--@ignoreSql-->
        <otherwise>
          DEFAULT,
        </otherwise>
      </choose>
      <choose>
        <when test="item.userId != null">
          #{item.userId,jdbcType=BIGINT},
        </when>
        <!--@ignoreSql-->
        <otherwise>
          DEFAULT,
        </otherwise>
      </choose>
      <choose>
        <when test="item.title != null">
          #{item.title,jdbcType=VARCHAR},
        </when>
        <!--@ignoreSql-->
        <otherwise>
          DEFAULT,
        </otherwise>
      </choose>
      <choose>
        <when test="item.content != null">
          #{item.content,jdbcType=LONGVARCHAR},
        </when>
        <!--@ignoreSql-->
        <otherwise>
          DEFAULT,
        </otherwise>
      </choose>
      <choose>
        <when test="item.categoryId != null">
          #{item.categoryId,jdbcType=BIGINT},
        </when>
        <!--@ignoreSql-->
        <otherwise>
          DEFAULT,
        </otherwise>
      </choose>
      <choose>
        <when test="item.priority != null">
          #{item.priority,jdbcType=TINYINT},
        </when>
        <!--@ignoreSql-->
        <otherwise>
          DEFAULT,
        </otherwise>
      </choose>
      <choose>
        <when test="item.startTime != null">
          #{item.startTime,jdbcType=TIMESTAMP},
        </when>
        <!--@ignoreSql-->
        <otherwise>
          DEFAULT,
        </otherwise>
      </choose>
      <choose>
        <when test="item.endTime != null">
          #{item.endTime,jdbcType=TIMESTAMP},
        </when>
        <!--@ignoreSql-->
        <otherwise>
          DEFAULT,
        </otherwise>
      </choose>
      <choose>
        <when test="item.status != null">
          #{item.status,jdbcType=TINYINT},
        </when>
        <!--@ignoreSql-->
        <otherwise>
          DEFAULT,
        </otherwise>
      </choose>
      <choose>
        <when test="item.finishTime != null">
          #{item.finishTime,jdbcType=TIMESTAMP},
        </when>
        <!--@ignoreSql-->
        <otherwise>
          DEFAULT,
        </otherwise>
      </choose>
      <choose>
        <when test="item.isDelete != null">
          #{item.isDelete,jdbcType=TINYINT},
        </when>
        <!--@ignoreSql-->
        <otherwise>
          DEFAULT,
        </otherwise>
      </choose>
      <choose>
        <when test="item.isTop != null">
          #{item.isTop,jdbcType=TINYINT}
        </when>
        <!--@ignoreSql-->
        <otherwise>
          DEFAULT
        </otherwise>
      </choose>
      )
    </foreach>
  </insert>
  <insert id="insertOrUpdate" keyColumn="id" keyProperty="id" parameterType="com.backend.domain.entity.Todo" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into tb_todo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      create_time,
      update_time,
      user_id,
      title,
      content,
      category_id,
      priority,
      start_time,
      end_time,
      `status`,
      finish_time,
      is_delete,
      is_top,
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      #{createTime,jdbcType=TIMESTAMP},
      #{updateTime,jdbcType=TIMESTAMP},
      #{userId,jdbcType=BIGINT},
      #{title,jdbcType=VARCHAR},
      #{content,jdbcType=LONGVARCHAR},
      #{categoryId,jdbcType=BIGINT},
      #{priority,jdbcType=TINYINT},
      #{startTime,jdbcType=TIMESTAMP},
      #{endTime,jdbcType=TIMESTAMP},
      #{status,jdbcType=TINYINT},
      #{finishTime,jdbcType=TIMESTAMP},
      #{isDelete,jdbcType=TINYINT},
      #{isTop,jdbcType=TINYINT},
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="id != null">
        id = #{id,jdbcType=BIGINT},
      </if>
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      user_id = #{userId,jdbcType=BIGINT},
      title = #{title,jdbcType=VARCHAR},
      content = #{content,jdbcType=LONGVARCHAR},
      category_id = #{categoryId,jdbcType=BIGINT},
      priority = #{priority,jdbcType=TINYINT},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      `status` = #{status,jdbcType=TINYINT},
      finish_time = #{finishTime,jdbcType=TIMESTAMP},
      is_delete = #{isDelete,jdbcType=TINYINT},
      is_top = #{isTop,jdbcType=TINYINT},
    </trim>
  </insert>
  <insert id="insertOrUpdateSelective" keyColumn="id" keyProperty="id" parameterType="com.backend.domain.entity.Todo" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into tb_todo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="categoryId != null">
        category_id,
      </if>
      <if test="priority != null">
        priority,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="finishTime != null">
        finish_time,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="isTop != null">
        is_top,
      </if>
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="categoryId != null">
        #{categoryId,jdbcType=BIGINT},
      </if>
      <if test="priority != null">
        #{priority,jdbcType=TINYINT},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="finishTime != null">
        #{finishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=TINYINT},
      </if>
      <if test="isTop != null">
        #{isTop,jdbcType=TINYINT},
      </if>
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="id != null">
        id = #{id,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="categoryId != null">
        category_id = #{categoryId,jdbcType=BIGINT},
      </if>
      <if test="priority != null">
        priority = #{priority,jdbcType=TINYINT},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=TINYINT},
      </if>
      <if test="finishTime != null">
        finish_time = #{finishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=TINYINT},
      </if>
      <if test="isTop != null">
        is_top = #{isTop,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>

  <select id="selectWithCondition" resultMap="BaseResultMap" parameterType="com.backend.domain.query.TodoQuery">
    select
    <include refid="Base_Column_List"/>
    from tb_todo
    <where>
      <if test="userId != null">
        and user_id = #{userId,jdbcType=BIGINT}
      </if>
      <if test="title != null and title != ''">
        and title like concat('%', #{title}, '%')
      </if>
      <if test="content != null">
        and content between #{content} and #{content}
      </if>
      <if test="categoryId != null">
        and category_id = #{categoryId,jdbcType=BIGINT}
      </if>
      <if test="priority != null">
        and priority = #{priority,jdbcType=TINYINT}
      </if>
      <if test="startTime != null">
        and end_time &gt;= #{startTime.start}
      </if>
      <if test="endTime != null">
        and start_time &lt;= #{endTime.end}
      </if>
      <if test="status != null">
        and status = #{status,jdbcType=TINYINT}
      </if>
      <if test="finishTime != null">
        and finish_time between #{finishTime.start} and #{finishTime.end}
      </if>
      <if test="isDelete != null">
        and is_delete = #{isDelete,jdbcType=TINYINT}
      </if>
      <if test="isTop != null">
        and is_top = #{isTop,jdbcType=TINYINT}
      </if>
    </where>
    order by create_time desc
  </select>

  <select id="countByCondition" resultType="java.lang.Integer" parameterType="com.backend.domain.query.TodoQuery">
    select count(*)
    from tb_todo
    <where>
      <if test="userId != null">
        and user_id = #{userId,jdbcType=BIGINT}
      </if>
      <if test="title != null and title != ''">
        and title like concat('%', #{title}, '%')
      </if>
      <if test="content != null">
        and content between #{content} and #{content}
      </if>
      <if test="categoryId != null">
        and category_id = #{categoryId,jdbcType=BIGINT}
      </if>
      <if test="priority != null">
        and priority = #{priority,jdbcType=TINYINT}
      </if>
      <if test="startTime != null">
        and start_time between #{startTime.start} and #{startTime.end}
      </if>
      <if test="endTime != null">
        and end_time between #{endTime.start} and #{endTime.end}
      </if>
      <if test="status != null">
        and status = #{status,jdbcType=TINYINT}
      </if>
      <if test="finishTime != null">
        and finish_time between #{finishTime.start} and #{finishTime.end}
      </if>
      <if test="isDelete != null">
        and is_delete = #{isDelete,jdbcType=TINYINT}
      </if>
      <if test="isTop != null">
        and is_top = #{isTop,jdbcType=TINYINT}
      </if>
    </where>
  </select>

  <select id="countTotalTodos" resultType="java.lang.Integer">
    select count(*)
    from tb_todo
  </select>

  <select id="countNewTodosByDate" resultType="java.lang.Integer" parameterType="java.lang.String">
    select count(*)
    from tb_todo
    where DATE_FORMAT(create_time, '%Y-%m-%d') = #{date}
  </select>

  <select id="getTodoStatusDistribution" resultType="java.util.Map">
    select
      `status` as status,
      count(*) as count
    from tb_todo
    where is_delete = 1
    group by `status`
  </select>

  <select id="getTodoPriorityDistribution" resultType="java.util.Map">
    select
      priority,
      count(*) as count
    from tb_todo
    where is_delete = 1
    group by priority
  </select>

  <select id="getDailyNewTodos" resultType="java.util.Map">
    select
      DATE_FORMAT(create_time, '%Y-%m-%d') as date,
      count(*) as count
    from tb_todo
    where is_delete = 1
    and DATE_FORMAT(create_time, '%Y-%m-%d') between #{startDate} and #{endDate}
    group by DATE_FORMAT(create_time, '%Y-%m-%d')
    order by date
  </select>

  <select id="getTodoDeadlineWarning" resultType="java.util.Map">
    select
      DATE(end_time) as deadline,
      count(*) as count
    from tb_todo
    where is_delete = 1
    and status = 1
    and end_time between now() and date_add(now(), interval #{days} day)
    group by DATE(end_time)
    order by deadline
  </select>

  <select id="getTodoCategoryDistribution" resultType="java.util.Map">
    select
      c.id as categoryId,
      c.name as categoryName,
      count(t.id) as count
    from tb_todo t
    left join tb_category c on t.category_id = c.id
    where t.is_delete = 1 and c.is_default = 1
    group by c.id, c.name
  </select>

  <select id="getTodoTagFrequency" resultType="java.util.Map">
    select
      t.id as tagId,
      t.name as tagName,
      count(tt.todo_id) as frequency
    from tb_tag t
    left join tb_todo_tag tt on t.id = tt.tag_id
    left join tb_todo todo on tt.todo_id = todo.id
    where todo.is_delete = 1
    group by t.id, t.name
    order by frequency desc
  </select>

  <select id="getTodoCompletionRateTrend" resultType="java.util.Map">
    select
      DATE_FORMAT(create_time, '%Y-%m-%d') as date,
      count(*) as total,
      sum(case when status = 2 then 1 else 0 end) as completed,
      sum(case when status = 2 then 1 else 0 end) / count(*) * 100 as completionRate
    from tb_todo
    where is_delete = 1
    and DATE_FORMAT(create_time, '%Y-%m-%d') between #{startDate} and #{endDate}
    group by DATE_FORMAT(create_time, '%Y-%m-%d')
    order by date
  </select>
</mapper>